
.wrapper.e{
  background-color: transparent;
  box-shadow: none;
  display:flex;
  //flex-wrap:wrap;
  justify-content: space-between;
  width:700px;
  margin-bottom:10px;
}

.space{
  margin-top:20px;
}

.box{
  //padding-top:20px;
  //padding-bottom:20px;
  flex-grow: 1;
  flex-basis:auto;

  height:70px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #efefef;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.39);

  border:none;
  text-align: center;
  text-decoration: none;
}
.box.c{
  flex:1;
  height:auto;
  padding-bottom:20px;
}
#map{
  width:100%;
  height:400px;
  background-color: gray;
}
#map-box{
  flex:none;
  width:60%;
}
.box p{
  text-transform: uppercase;
  font-weight:400;
  font-size:16px;
  letter-spacing: 3px;
}
.box.h{
  height:auto;
  background-color: #1E0505;
  padding-top:10px;
  padding-bottom:10px;
}
.box.h h2{
  margin:auto;
  color:#efefef;
  font-family: Raleway;
  font-weight: 800;
  font-size:36px;
  letter-spacing: 20px;
}

.box.t{
  flex: none;
  //margin-top:40px;
  //background-color: #370D0D;
  background-color: #4C1111;
}
.box.t p{
  margin-left:10px;
  margin-right:10px;
  padding-left: 10px;
  font-family: raleway;
  letter-spacing: 7px;
  font-weight: 400;
  color: #efefef;
  font-size: 32px;
}
@media (max-width: 700px) {
  .wrapper{
    width:100%;
  }
  .wrapper.e{
    width:100%;
  }
}
