<!DOCTYPE html>
<html>
  <head>
    <title>MemoBlog</title>
    <link rel="shortcut icon" href="{{site.url}}mustang.ico" >
    <link href="https://fonts.googleapis.com/css?family=Cuprum|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{site.url}}css/Theme.css">
    <link rel="stylesheet" href="{{site.url}}css/box.css">
    <link rel="stylesheet" href="{{site.url}}/css/news-page.css">
    <link rel="stylesheet" href="{{site.url}}/css/contacts-page.css">
    <meta charset ="utf-8">
  </head>

  <body>
    <header>
      <a href="index.html">
        <h1 id="title">MemoBlog</h1>
      </a>
      <div class="wrapper">
        <nav class = "navBar">
          <a href="{{site.url}}/pages/news.html">News</a>
          <a href="{{site.url}}/pages/clubs.html">Clubs</a>
          <a href="{{site.url}}/pages/calendar.html">Calendar</a>
          <a href="{{site.url}}/pages/contact.html">Contact</a>
        </nav>
      </div>
    </header>
    <main>

        {{ content }}

    </main>
    <footer>
      <div class="end">
        <p>York Memorial Collegiate Institute</p>
        <p>Since 1929</p>
        <p>&copy Aloin</p>
      </div>
    </footer>
  </body>

</html>
